/* dark blue and grey and black theme */

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

div #landing {
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 100px;
}

br {
    margin-bottom: 100px;
}



/* nav bar css */

#navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
    width: 120px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    background-color: darkblue;
    transition: background-color 0.3s ease;
}

/*  index page css */

#indexh1 {
    color: lightgreen;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 50px;
}

#indexindent {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 15px;
    border: 2px solid #ffffff;
}

/* css for the survy boxes */
.box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}

a:visited {
    color: white;
}

.box-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.box-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* css for the login forms */

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#helpcss {
    margin-left: 25px;
}